{{>header}}
{{>navbar}}
{{>flash}} 
    <div id="fh5co-consult">
		<div class="choose animate-box">
			<h2>Git Repository Details </h2>
			<form>
				<div class="row form-group">
					<div class="col-md-12">
						<input type="text" placeholder="Repository Name" value="Repo Name -{{ gitRepoDetails.name}}" readonly>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-12">
						<input type="text" placeholder="Repository Size" value="Repo Size -{{ gitRepoDetails.size}}" readonly>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-12">
						<input type="text" placeholder="Repository Private" value="Repo Type - {{ alterClass gitRepoDetails.private 'It is public repo' : 'It is Private Repo'}}" readonly>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-12">
						<input type="text" placeholder="Repository Owner" value="Repo Owner - {{ gitRepoDetails.owner.login}}" readonly>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-12">
						<input type="text" placeholder="Repository Owner" value="Repo Hook Active - {{ gitRepoDetails.hooks_url}}" readonly>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-12">
						<input type="text" placeholder="Number of files in the repo" value="No Of Files - {{ gitRepoDetails.noOfFiles }}" readonly>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<span>Content In Read Me file - </span>
						<textarea name="contact_message" id="contact_message" cols="30" rows="10" class="form-control" placeholder="File Content">{{gitRepoDetails.fileContent}}</textarea>
					</div>
				</div>
			</form>	
		</div>
	</div>
{{>footer}}